<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Email" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <div class="formGroup">
        <button mat-raised-button color='primary' type="button" class="btn btnPrimary"(click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <div class="formGroup">
        <button mat-raised-button color='primary' type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <a href="forgotpassword" mat-raised-button >Forgot Password?</a>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<a class="redirect" mat-raised-button href="register">Sign Up</a></span>
    </div>

  </div>
</div>