<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="username" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <button mat-flat-button color="primary"
          (click)="authService.SignUp(userEmail.value, userPwd.value,userName.value)">Sign Up</button>
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <div class="formGroup">
        <button mat-flat-button type="button" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <a class="redirect" href="login"  mat-flat-button color="primary">Log In</a></span>
    </div>
  </div>

</div>