.container{
    width: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    background-image: url('../images/45bac5ac24fd524f2cc2034cbd9a406f-700.jpg');
}

table#first-player, table#second-player {
    margin: 20px auto;
    background: white;
    border: 10px solid rgb(92, 51, 12);
    opacity: 0.8;
}

td {
    width: 45px;
    height: 45px;
    border: solid 1px black;
}

button {
    width: 120px;
    height: 100px;
    margin-top: 50px auto;
}