<div class="container">
    <div class="first">
        <div id="firstPInfo">

        </div>
        <table id="first-player">
            <tr id="A">
                <td align="center" #A1 (click)="addNum(A1)"></td>
                <td align="center" #A2 (click)="addNum(A2)"></td>
                <td align="center" #A3 (click)="addNum(A3)"></td>
                <td align="center" #A4 (click)="addNum(A4)"></td>
                <td align="center" #A5 (click)="addNum(A5)"></td>
                <td align="center" #A6 (click)="addNum(A6)"></td>
                <td align="center" #A7 (click)="addNum(A7)"></td>
                <td align="center" #A8 (click)="addNum(A8)"></td>
                <td align="center" #A9 (click)="addNum(A9)"></td>
                <td align="center" #A10 (click)="addNum(A10)"></td>
            </tr>
            <tr id="B">
                <td align="center" #B1 (click)="addNum(B1)"></td>
                <td align="center" #B2 (click)="addNum(B2)"></td>
                <td align="center" #B3 (click)="addNum(B3)"></td>
                <td align="center" #B4 (click)="addNum(B4)"></td>
                <td align="center" #B5 (click)="addNum(B5)"></td>
                <td align="center" #B6 (click)="addNum(B6)"></td>
                <td align="center" #B7 (click)="addNum(B7)"></td>
                <td align="center" #B8 (click)="addNum(B8)"></td>
                <td align="center" #B9 (click)="addNum(B9)"></td>
                <td align="center" #B10 (click)="addNum(B10)"></td>

            </tr>
            <tr id="C">
                <td align="center" #C1 (click)="addNum(C1)"></td>
                <td align="center" #C2 (click)="addNum(C2)"></td>
                <td align="center" #C3 (click)="addNum(C3)"></td>
                <td align="center" #C4 (click)="addNum(C4)"></td>
                <td align="center" #C5 (click)="addNum(C5)"></td>
                <td align="center" #C6 (click)="addNum(C6)"></td>
                <td align="center" #C7 (click)="addNum(C7)"></td>
                <td align="center" #C8 (click)="addNum(C8)"></td>
                <td align="center" #C9 (click)="addNum(C9)"></td>
                <td align="center" #C10 (click)="addNum(C10)"></td>

            </tr>
            <tr id="D">
                <td align="center" #D1 (click)="addNum(D1)"></td>
                <td align="center" #D2 (click)="addNum(D2)"></td>
                <td align="center" #D3 (click)="addNum(D3)"></td>
                <td align="center" #D4 (click)="addNum(D4)"></td>
                <td align="center" #D5 (click)="addNum(D5)"></td>
                <td align="center" #D6 (click)="addNum(D6)"></td>
                <td align="center" #D7 (click)="addNum(D7)"></td>
                <td align="center" #D8 (click)="addNum(D8)"></td>
                <td align="center" #D9 (click)="addNum(D9)"></td>
                <td align="center" #D10 (click)="addNum(D10)"></td>
            </tr>
            <tr id="E">
                <td align="center" #E1 (click)="addNum(E1)"></td>
                <td align="center" #E2 (click)="addNum(E2)"></td>
                <td align="center" #E3 (click)="addNum(E3)"></td>
                <td align="center" #E4 (click)="addNum(E4)"></td>
                <td align="center" #E5 (click)="addNum(E5)"></td>
                <td align="center" #E6 (click)="addNum(E6)"></td>
                <td align="center" #E7 (click)="addNum(E7)"></td>
                <td align="center" #E8 (click)="addNum(E8)"></td>
                <td align="center" #E9 (click)="addNum(E9)"></td>
                <td align="center" #E10 (click)="addNum(E10)"></td>
            </tr>
            <tr id="F">
                <td align="center" #F1 (click)="addNum(F1)"></td>
                <td align="center" #F2 (click)="addNum(F2)"></td>
                <td align="center" #F3 (click)="addNum(F3)"></td>
                <td align="center" #F4 (click)="addNum(F4)"></td>
                <td align="center" #F5 (click)="addNum(F5)"></td>
                <td align="center" #F6 (click)="addNum(F6)"></td>
                <td align="center" #F7 (click)="addNum(F7)"></td>
                <td align="center" #F8 (click)="addNum(F8)"></td>
                <td align="center" #F9 (click)="addNum(F9)"></td>
                <td align="center" #F10 (click)="addNum(F10)"></td>
            </tr>
            <tr id="G">
                <td align="center" #G1 (click)="addNum(G1)"></td>
                <td align="center" #G2 (click)="addNum(G2)"></td>
                <td align="center" #G3 (click)="addNum(G3)"></td>
                <td align="center" #G4 (click)="addNum(G4)"></td>
                <td align="center" #G5 (click)="addNum(G5)"></td>
                <td align="center" #G6 (click)="addNum(G6)"></td>
                <td align="center" #G7 (click)="addNum(G7)"></td>
                <td align="center" #G8 (click)="addNum(G8)"></td>
                <td align="center" #G9 (click)="addNum(G9)"></td>
                <td align="center" #G10 (click)="addNum(G10)"></td>
            </tr>
            <tr id="H">
                <td align="center" #H1 (click)="addNum(H1)"></td>
                <td align="center" #H2 (click)="addNum(H2)"></td>
                <td align="center" #H3 (click)="addNum(H3)"></td>
                <td align="center" #H4 (click)="addNum(H4)"></td>
                <td align="center" #H5 (click)="addNum(H5)"></td>
                <td align="center" #H6 (click)="addNum(H6)"></td>
                <td align="center" #H7 (click)="addNum(H7)"></td>
                <td align="center" #H8 (click)="addNum(H8)"></td>
                <td align="center" #H9 (click)="addNum(H9)"></td>
                <td align="center" #H10 (click)="addNum(H10)"></td>

            </tr>
            <tr id="I">
                <td align="center" #I1 (click)="addNum(I1)"></td>
                <td align="center" #I2 (click)="addNum(I2)"></td>
                <td align="center" #I3 (click)="addNum(I3)"></td>
                <td align="center" #I4 (click)="addNum(I4)"></td>
                <td align="center" #I5 (click)="addNum(I5)"></td>
                <td align="center" #I6 (click)="addNum(I6)"></td>
                <td align="center" #I7 (click)="addNum(I7)"></td>
                <td align="center" #I8 (click)="addNum(I8)"></td>
                <td align="center" #I9 (click)="addNum(I9)"></td>
                <td align="center" #I10 (click)="addNum(I10)"></td>
            </tr>
            <tr id="J">
                <td align="center" #J1 (click)="addNum(J1)"></td>
                <td align="center" #J2 (click)="addNum(J2)"></td>
                <td align="center" #J3 (click)="addNum(J3)"></td>
                <td align="center" #J4 (click)="addNum(J4)"></td>
                <td align="center" #J5 (click)="addNum(J5)"></td>
                <td align="center" #J6 (click)="addNum(J6)"></td>
                <td align="center" #J7 (click)="addNum(J7)"></td>
                <td align="center" #J8 (click)="addNum(J8)"></td>
                <td align="center" #J9 (click)="addNum(J9)"></td>
                <td align="center" #J10 (click)="addNum(J10)"></td>
            </tr>
        </table>
    </div>

    <div class="second">
        <div id="secondPInfo">
            
        </div>
        <table id="second-player">
            <tr id="A">
                <td align="center" #A1 (click)="addNum(A1)"></td>
                <td align="center" #A2 (click)="addNum(A2)"></td>
                <td align="center" #A3 (click)="addNum(A3)"></td>
                <td align="center" #A4 (click)="addNum(A4)"></td>
                <td align="center" #A5 (click)="addNum(A5)"></td>
                <td align="center" #A6 (click)="addNum(A6)"></td>
                <td align="center" #A7 (click)="addNum(A7)"></td>
                <td align="center" #A8 (click)="addNum(A8)"></td>
                <td align="center" #A9 (click)="addNum(A9)"></td>
                <td align="center" #A10 (click)="addNum(A10)"></td>
            </tr>
            <tr id="B">
                <td align="center" #B1 (click)="addNum(B1)"></td>
                <td align="center" #B2 (click)="addNum(B2)"></td>
                <td align="center" #B3 (click)="addNum(B3)"></td>
                <td align="center" #B4 (click)="addNum(B4)"></td>
                <td align="center" #B5 (click)="addNum(B5)"></td>
                <td align="center" #B6 (click)="addNum(B6)"></td>
                <td align="center" #B7 (click)="addNum(B7)"></td>
                <td align="center" #B8 (click)="addNum(B8)"></td>
                <td align="center" #B9 (click)="addNum(B9)"></td>
                <td align="center" #B10 (click)="addNum(B10)"></td>

            </tr>
            <tr id="C">
                <td align="center" #C1 (click)="addNum(C1)"></td>
                <td align="center" #C2 (click)="addNum(C2)"></td>
                <td align="center" #C3 (click)="addNum(C3)"></td>
                <td align="center" #C4 (click)="addNum(C4)"></td>
                <td align="center" #C5 (click)="addNum(C5)"></td>
                <td align="center" #C6 (click)="addNum(C6)"></td>
                <td align="center" #C7 (click)="addNum(C7)"></td>
                <td align="center" #C8 (click)="addNum(C8)"></td>
                <td align="center" #C9 (click)="addNum(C9)"></td>
                <td align="center" #C10 (click)="addNum(C10)"></td>

            </tr>
            <tr id="D">
                <td align="center" #D1 (click)="addNum(D1)"></td>
                <td align="center" #D2 (click)="addNum(D2)"></td>
                <td align="center" #D3 (click)="addNum(D3)"></td>
                <td align="center" #D4 (click)="addNum(D4)"></td>
                <td align="center" #D5 (click)="addNum(D5)"></td>
                <td align="center" #D6 (click)="addNum(D6)"></td>
                <td align="center" #D7 (click)="addNum(D7)"></td>
                <td align="center" #D8 (click)="addNum(D8)"></td>
                <td align="center" #D9 (click)="addNum(D9)"></td>
                <td align="center" #D10 (click)="addNum(D10)"></td>
            </tr>
            <tr id="E">
                <td align="center" #E1 (click)="addNum(E1)"></td>
                <td align="center" #E2 (click)="addNum(E2)"></td>
                <td align="center" #E3 (click)="addNum(E3)"></td>
                <td align="center" #E4 (click)="addNum(E4)"></td>
                <td align="center" #E5 (click)="addNum(E5)"></td>
                <td align="center" #E6 (click)="addNum(E6)"></td>
                <td align="center" #E7 (click)="addNum(E7)"></td>
                <td align="center" #E8 (click)="addNum(E8)"></td>
                <td align="center" #E9 (click)="addNum(E9)"></td>
                <td align="center" #E10 (click)="addNum(E10)"></td>
            </tr>
            <tr id="F">
                <td align="center" #F1 (click)="addNum(F1)"></td>
                <td align="center" #F2 (click)="addNum(F2)"></td>
                <td align="center" #F3 (click)="addNum(F3)"></td>
                <td align="center" #F4 (click)="addNum(F4)"></td>
                <td align="center" #F5 (click)="addNum(F5)"></td>
                <td align="center" #F6 (click)="addNum(F6)"></td>
                <td align="center" #F7 (click)="addNum(F7)"></td>
                <td align="center" #F8 (click)="addNum(F8)"></td>
                <td align="center" #F9 (click)="addNum(F9)"></td>
                <td align="center" #F10 (click)="addNum(F10)"></td>
            </tr>
            <tr id="G">
                <td align="center" #G1 (click)="addNum(G1)"></td>
                <td align="center" #G2 (click)="addNum(G2)"></td>
                <td align="center" #G3 (click)="addNum(G3)"></td>
                <td align="center" #G4 (click)="addNum(G4)"></td>
                <td align="center" #G5 (click)="addNum(G5)"></td>
                <td align="center" #G6 (click)="addNum(G6)"></td>
                <td align="center" #G7 (click)="addNum(G7)"></td>
                <td align="center" #G8 (click)="addNum(G8)"></td>
                <td align="center" #G9 (click)="addNum(G9)"></td>
                <td align="center" #G10 (click)="addNum(G10)"></td>
            </tr>
            <tr id="H">
                <td align="center" #H1 (click)="addNum(H1)"></td>
                <td align="center" #H2 (click)="addNum(H2)"></td>
                <td align="center" #H3 (click)="addNum(H3)"></td>
                <td align="center" #H4 (click)="addNum(H4)"></td>
                <td align="center" #H5 (click)="addNum(H5)"></td>
                <td align="center" #H6 (click)="addNum(H6)"></td>
                <td align="center" #H7 (click)="addNum(H7)"></td>
                <td align="center" #H8 (click)="addNum(H8)"></td>
                <td align="center" #H9 (click)="addNum(H9)"></td>
                <td align="center" #H10 (click)="addNum(H10)"></td>

            </tr>
            <tr id="I">
                <td align="center" #I1 (click)="addNum(I1)"></td>
                <td align="center" #I2 (click)="addNum(I2)"></td>
                <td align="center" #I3 (click)="addNum(I3)"></td>
                <td align="center" #I4 (click)="addNum(I4)"></td>
                <td align="center" #I5 (click)="addNum(I5)"></td>
                <td align="center" #I6 (click)="addNum(I6)"></td>
                <td align="center" #I7 (click)="addNum(I7)"></td>
                <td align="center" #I8 (click)="addNum(I8)"></td>
                <td align="center" #I9 (click)="addNum(I9)"></td>
                <td align="center" #I10 (click)="addNum(I10)"></td>
            </tr>
            <tr id="J">
                <td align="center" #J1 (click)="addNum(J1)"></td>
                <td align="center" #J2 (click)="addNum(J2)"></td>
                <td align="center" #J3 (click)="addNum(J3)"></td>
                <td align="center" #J4 (click)="addNum(J4)"></td>
                <td align="center" #J5 (click)="addNum(J5)"></td>
                <td align="center" #J6 (click)="addNum(J6)"></td>
                <td align="center" #J7 (click)="addNum(J7)"></td>
                <td align="center" #J8 (click)="addNum(J8)"></td>
                <td align="center" #J9 (click)="addNum(J9)"></td>
                <td align="center" #J10 (click)="addNum(J10)"></td>
            </tr>
        </table>
    </div>
</div>