<div id="container">
    <div id="sidebar">
        <ul>
            <li (click)='showDetails()'><span>SHOW RULES</span></li>
            <li (click)='getRandomGame()'><span>GENERATE LEVEL</span></li>
            <li (click)='submitLevel()'><span>SUBMIT LEVEL</span></li>
            <li (click)='clear()'><span>CLEAR BOARD</span></li>
            <li (click)='check()'><span>KILL IT</span></li>
        </ul>
    </div>
    <div id="chessboard">
        <h3 *ngIf='creator'>Creator: <span id='creatorSpan'>{{creator}}</span></h3>
        <table id="chessboard" (keypress)='handleKeyboardEvent($event)'>
            <tr *ngFor="let tr of game;index as trInd">

                <td align="center" *ngFor="let td of tr;index as tdInd"
                    [ngClass]=" { 'static':td.static ,'marked':td.marked}" (click)="markBox(trInd,tdInd,td)">
                    {{td.value}}</td>
            </tr>
        </table>

    </div>
</div> 

<!-- 8	1	5	3	4	2	6	9	7
2	3	6	8	7	9	4	5	1
4	9	7	6	5	1	8	3	2
3	8	4	2	9	6	7	1	5
6	2	9	5	1	7	3	8	4
5	7	1	4	8	3	2	6	9
9	6	8	1	2	4	5	7	3
7	4	3	9	6	5	1	2	8
1	5	2	7	3	8	9	4	6 -->
