.lead{
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
}

.display-3{
    font-style: oblique;
    color: green;
}
p{
    color:forestgreen
}

.btn{
    width: 200px;
}

.jumbotron{
    height: 700px;
    width: 100%;
    background-image: url('../images/kill-bill-movie-wallpaper-54200-55933-hd-wallpapers.jpg');
}