<mat-toolbar color="primary" class="app-header">
  <div><a href="home" class="positronx">Mandarinka</a></div>
  <div>

  </div>
  <span class="nav-tool-items items">
    <div *ngIf="user" class='btns'>
      <span>
        Hello <a href="user/:user.uid">{{user.username ||user.displayName}}</a>
      </span>
      <a mat-button href="sudoku">Sudo-ku</a>
      <a mat-button href="pacman">Pacman</a>
      <a mat-button href="tetris">Tetris</a>
      <a mat-button href="bonus">Bonus game</a>
      <a mat-button (click)="logout()">Log Out</a>
    </div>
    <div *ngIf="!user" class='authBtns'>
      <a mat-button mat-raised-button href="login">Log in</a>
      <a mat-button mat-raised-button class='registerBtn' href="register">Register</a>
    </div>
  </span>
</mat-toolbar>