.btn {
    justify-content: space-between;
}

.items {
    margin-left: 200px;
}

.registerBtn {
    margin-left: 20px;
}

*{
    font-family: 'Press Start 2P',cursive ;
    font-size: small;
}

.username{
    color: navy;
}