* {
    font-family: 'Press Start 2P', cursive;
  }

  .grid {
    display: grid;
    justify-content: center;
    background-image: url(/assets/images-tetris/background.jpg);
    grid-template-columns: 320px 200px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }
  
  .game-board {
    border: solid 2px;
    background-color: indianred;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .play-button {
      background-color: #4caf50;
    }
  
    .reset-button {
      background-color: red;
    }
  
    .pause-button {
      background-color: #4caf50;
  
      &.button-disabled {
        background-color: #cccccc;
      }
    }
  
    .button {
      font-size: 16px;
      padding: 15px 30px;
      cursor: pointer;
      width: 140px; 
      border: 1px solid black;
    }
  }