* {
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}

.displayTable {
    margin-top: 50px;
    margin-bottom: 250px;
    margin-left: 35%;
    margin-right: 30%;
    position: relative;
}

.formGroup, .redirectToLogin {
    margin-top: 20px;
}