<div id='container'>
    <div id='slidebar'>
        <ul>
            <li (click)='rulesHandler()'><span id='descrBtn'>SHOW RULES</span></li>
            <li (click)='undo()'><span>UNDO</span></li>
            <li (click)='refresh()'><span>REFRESH</span></li>
            <li><span>Highest score:{{ highScore | async }}</span></li>
        </ul>
    </div>
    <table id="chessboard">
        <tr *ngFor="let tr of table">
            <td align="center" *ngFor="let td of indexes" (click)='addNum($event,tr,td)' [id]='tr + td'></td>
        </tr>
    </table>
</div>