footer{
      background-color:#222222;
      padding: 60px 0px;
  }
  
  footer ul{
      list-style:none;
      margin:0 auto;
      display:inline-block;
      padding-top:50px;
  }
  
  footer ul li{
      float:left;
  }
  
  footer ul li a{
      color:#b1aca1;
      padding:20px;
  }
  
  footer ul li a:hover{
      color:#7dabdb;
      text-decoration:none;
  }
  
  .footer-top{
      padding-bottom:50px;
  }
  
  .footer-top .fa{
      font-size:18px;
      color: #FFF;
      padding-right:10px;
  }
  
  .footer-top a{
      color:#FFF;
      background:#333333; 
      padding: 10px;
  }
  
  .footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
      color:#7dabdb;
      text-decoration:none;
  }
  
  .copyright{
      background-color:#f0f0f0;
  }
  
  .copyright p{
      font-size:12px;
      padding:15px 0 10px 0;
  }
  
  #top{
      color: #fff;
      background: #7dabdb;
      cursor: pointer;
      font-size: 18px;
      line-height: 40px;
      height: 40px;
      width: 40px;
      right: 30px;
      position: fixed;
      border-radius: 3px;
      text-align: center;
      bottom: 350px;
  }