.main{
    background-image: url('/assets/images-pacman/images/background.jpg');
}

.main-container {
    margin-left: 500px;
    justify-content: center;
}

.score{
    margin-left: 500px;
}

.block {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: -2px -2px -2px 2px;
    background-color: black;
}

.pacman {
    background-image: url(/assets/images-pacman/images/pacman-left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.coin {
    background-image: url('/assets/images-pacman/images/coin.png');
    background-size: 25% 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.bonus-coin {
    background-image: url('/assets/images-pacman/images/coin.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.wall {
    background-image: url('/assets/images-pacman/images/wall.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.road {
    background-size: 100% 100%;
}

.ghost-pink {
    background-image: url('/assets/images-pacman/images/ghost_pink.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ghost-blue {
    background-image: url('/assets/images-pacman/images/ghost_blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ghost-orange {
    background-image: url('/assets/images-pacman/images/ghost_orange.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ghost-red {
    background-image: url('/assets/images-pacman/images/life_red.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}