<div class="main-container">
  <section class="game-section">
    <div class="row" *ngFor=" let row of gameMap; let i = index ">
      <div class="block" *ngFor=" let block of row; let j = index " [ngClass]="{
          	'wall' : block === WALL,
            'coin' : block === COIN,
            'road' : block === ROAD,
            'bonus-coin' : block === BIG_COIN,
            'ghost-pink' : block === ghostPink.marker,
            'ghost-orange' : block === ghostOrange.marker,
            'ghost-green' : block === ghostGreen.marker,
            'ghost-blue' : block === ghostBlue.marker,
            'ghost-eatable' : block === 10,
            'pacman' : block === pacman.marker
          }" [ngStyle]="
            {'background-image': block === pacman.marker ? (
              pacman.dir === 'up' ? 'url('+'/assets/images-pacman/images/pacman-up.png'+')' : (
                pacman.dir === 'right' ? 'url('+'/assets/images-pacman/images/pacman-right.png'+')' : (
                  pacman.dir === 'down' ? 'url('+'/assets/images-pacman/images/pacman-down.png'+')' : (
                    pacman.dir === 'left' ? 'url('+'/assets/images-pacman/images/pacman-left.png'+')' : (
                      pacman.dir === 'eating' ? 'url('+'/assets/images-pacman/gifs/pacman-eating.gif'+')' : ''
                    )
                  )
                )
              )
            ) : '' 
          }"></div>
    </div>
  </section>
</div>
<h1>Total Score {{totalScore}}</h1>