.lead{
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
}

.display-3{
    font-style: oblique;
}

p{
    color: indigo;
}

.btn{
    width: 200px;
}
h1{
    font-family: 'Press Start 2P',cursive;
}

.jumbotron{
    font-family: 'Press Start 2P',cursive;
    height: 700px;
    width: 100%;
    background-image: url('../../assets/images-home/background.jpg');
}