<div class="jumbotron">
    <h1>WELCOME TO MANDARINKA</h1>
    <p class="lead">The ultimate place to seek glory and honor with selection of strategy games that only the worthy ones can master</p>
    <hr class="my-4">
    <div id='btnContainer' *ngIf='user'>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="sudoku" role="button">Sudo-ku</a>
            <a class="btn btn-primary btn-lg" href="pacman" role="button">Pacman</a>
            <a class="btn btn-primary btn-lg" href="tetris" role="button">Tetris</a>
            <a class="btn btn-primary btn-lg" href="bonus" role="button">Bonus</a>
        </p>
    </div>
</div>